#app {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#app .container {
  width: 376px;
  height: 666px;
  z-index: 100;

  background: white;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .9);
}

#app .container-view {
  padding: 20px;
}

#app .container-data {
  display: flex;
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 90%);
    padding: 5px;
    margin: 2px;
    margin-bottom: 10px;
    border-radius: 3px;
    background: aliceblue;
    height: 70px;
}

#app .call-tried {
  color: gray;
}

#app .caller-info {
  margin-right: auto;
}

#app .call-time {
  margin-left: 15px;
}
